     <div><h1 class="header_name">Filter.js</h1></div>
    <div class="container">
      <div class="sidebar_bar">
        <div class="sidebar_left_find">
          <div class="sidebar_list">
            <h3>Search</h3>
            <input type="text" id="search_box" class="searchbox" placeholder="Type here...."/>
          </div>
        </div>  
        <div class="sidebar_left_find">
          <div class="sidebar_list">
            <h3>Filter by Price</h3>
            <span id="price_range_label" style="margin:50px;">$0-$100</span>
            <div id="price_slider"></div>
            <input type="hidden" id="price_filter"/>
          </div>
        </div>
      </div>
      <div class="featured_services_find">
        <h1 class="result_count"></h1>
        <div class="featured_list_find" id="service_list"></div>
      </div>

      <script id="my_vars_json" type="text/json">
       <%= @product.to_json %>
        <div data-id="<%= @product.to_json %>"></div>
        <!--console.log("@product")-->
      </script>
        <script type="text/javascript">
        //<![CDATA[


        var services = <%= @products.to_json %>;
//        var services = [

//        {
//            "to_param": "1-mr-ona-howe",
//            "group_number": null,
//            "is_schedulelater": false,
//            "permalink": "1-mr-ona-howe",
//            "start_date": "2011-08-27",
//            "total_transactions": null,
//            "end_time": null,
//            "positive_reviews": 0,
//            "booking_capacity": 2,
//            "is_virtual": false,
//            "request_id": null,
//            "title": "Mr. Ona Howe",
//            "total_reviews": 0,
//            "estimated_duration": 0,
//            "thumbnail": "/images/category/cat_image_thumb.jpg",
//            "amount": 453,
//            "donated_amount": null,
//            "booked_seats": 0,
//            "id": 1,
//            "user_id": 3,
//            "is_public": true,
//            "service_categories": [
//                {
//                    "to_param": "1",
//                    "category_id": 33
//                }
//            ],
//            "end_date": "2011-07-30",
//            "nonprofit_id": 15,
//            "status": "active",
//            "start_time": null,
//            "nonprofit": {
//                "name": "Eldon Zulauf",
//                "to_param": "15-eldon-zulauf",
//                "nonprofit_categories": [
//                    {
//                        "to_param": "15",
//                        "category_id": 11
//                    }
//                ],
//                "thumbnail": "/images/missing/nonprofit_medium.jpg"
//            }
//        },
//        {
//            "to_param": "2-darien-hoeger",
//            "group_number": null,
//            "is_schedulelater": true,
//            "permalink": "2-darien-hoeger",
//            "start_date": "2011-08-23",
//            "total_transactions": null,
//            "end_time": null,
//            "positive_reviews": 0,
//            "booking_capacity": 0,
//            "is_virtual": false,
//            "request_id": null,
//            "title": "Darien Hoeger",
//            "total_reviews": 0,
//            "estimated_duration": 0,
//            "thumbnail": "/images/category/cat_image_thumb.jpg",
//            "amount": 201,
//            "donated_amount": null,
//            "booked_seats": 0,
//            "id": 2,
//            "user_id": 3,
//            "is_public": true,
//            "service_categories": [
//                {
//                    "to_param": "2",
//                    "category_id": 33
//                }
//            ],
//            "end_date": "2011-09-03",
//            "nonprofit_id": 16,
//            "status": "active",
//            "start_time": null,
//            "nonprofit": {
//                "name": "Beryl McDermott",
//                "to_param": "16-beryl-mcdermott",
//                "nonprofit_categories": [
//                    {
//                        "to_param": "16",
//                        "category_id": 26
//                    }
//                ],
//                "thumbnail": "/images/missing/nonprofit_medium.jpg"
//            }
//        },
//        {
//            "to_param": "3-mrs-frederique-kris",
//            "group_number": null,
//            "is_schedulelater": true,
//            "permalink": "3-mrs-frederique-kris",
//            "start_date": "2011-08-08",
//            "total_transactions": null,
//            "end_time": null,
//            "positive_reviews": 0,
//            "booking_capacity": 0,
//            "is_virtual": false,
//            "request_id": null,
//            "title": "Mrs. Frederique Kris",
//            "total_reviews": 0,
//            "estimated_duration": 0,
//            "thumbnail": "/images/category/cat_image_thumb.jpg",
//            "amount": 500,
//            "donated_amount": null,
//            "booked_seats": 0,
//            "id": 3,
//            "user_id": 3,
//            "is_public": true,
//            "service_categories": [
//                {
//                    "to_param": "3",
//                    "category_id": 27
//                }
//            ],
//            "end_date": "2011-08-16",
//            "nonprofit_id": 15,
//            "status": "active",
//            "start_time": null,
//            "nonprofit": {
//                "name": "Eldon Zulauf",
//                "to_param": "15-eldon-zulauf",
//                "nonprofit_categories": [
//                    {
//                        "to_param": "15",
//                        "category_id": 11
//                    }
//                ],
//                "thumbnail": "/images/missing/nonprofit_medium.jpg"
//            }
//       ];
        //]]>
      </script>
      <div class="clear"></div>

      <div class="sidebar_list">
        <h3>Filter by Price</h3>
        <ul id="price_list">
          <li>
            <input checked="checked" id="price_all" value="all"
                   type="checkbox">
            <span style="display: inline;">All</span>
          </li>
          <li>
            <input checked="checked" value="0-50"
                   type="checkbox">
            &nbsp;&nbsp;&lt;&nbsp; $50
          </li>
          <li>
            <input checked="checked" value="50-100"
                   type="checkbox">
            &nbsp;&nbsp;$50 to $100
          </li>
          <li>
            <input checked="checked" value="100-200"
                   type="checkbox">
            &nbsp;&nbsp;$100 to $200
          </li>
          <li>
            <input checked="checked" value="200-500"
                   type="checkbox">
            &nbsp;&nbsp;$200 to $500
          </li>
          <li>
            <input checked="checked" value="500-above"
                   type="checkbox">
            &nbsp;&nbsp;$500 and above
          </li>
        </ul>
      </div>

    </div>

    <script id="template" type="text/html">
       <a title="{{title}}" href="/demo/{{to_param}}">
         <div class="fs_box">
           <div class="fs_left">
             <span class="fs_head">{{short_title}}</span>
             <span class="fs_for">for</span>
             <span class="fs_disc">{{short_nonprofit_name}}</span>
             <span class="fs_disc">{{timeleft_str}}</span>
           </div>
           <div class="fs_price">${{amount}}</div>
           <div class="clear"></div>
         </div>
       </a>
    </script>